@font-face{
    font-family: 'Helvetica Neue';
    src: url(fonts/HelveticaNeue.eot);
	src: url('fonts/HelveticaNeue.eot?#iefix') format('eot'),
         url('fonts/HelveticaNeue.woff') format('woff'),
		 url('fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}